<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="google-site-verification" content="BMQNtxqoJ8lc1nV6R5ZORhPLW4yQ2ZI0M_1eourtnM8" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/richardlucas761">github.com/richardlucas761</a></li>
				</ul>
			</footer>
		</body>
	</html>
